.ourProducts {
  background: #f9f8f4;
  p.bulkOrderText {
    text-align: center;
    margin-top: 30px;
    font-weight: bold;
  }
  .desktop-products-container {
    display: flex;
    justify-content: center;    
  }
  .delivery {
    text-align: center;
    margin-top: 30px;
    font-size: 25px;
    background: #650a1f;
    color: #ffff;
    padding: 20px;
    font-weight: 400;
  }
  .details {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    margin-top: 40px;
    flex-direction: column;
    .disclaimer {
      padding-top: 10px;
      font-size: 12px;
      color: #a5a3a3;
    }
    table {
      box-shadow: 0px 40px 20px -40px #858585;
      width: 85%;
      table-layout: fixed;
      text-align: center;
      @media (max-width: 767px) {
        width: 100%;
        font-size: 13px;
      }
    }
    table, tr, td, th {
      border-collapse: collapse;
    }
  
    table th {
      @media (max-width: 767px) {
        &:first-child {
          width: 90px;
        }
      }
    }
    
    thead {
      tr {
        background: #1b2133;
        color: #fff;
      }
    }
    tbody {
      tr {
        background: #fff;
      }
      tr:last-child {
        background: #f4f4f4;
      }
    }
    td, th {
      padding: 10px;
    }
  }
}