footer {
  border-top: 6px #f28c14 solid;
  background: #222;
  color: #fff;
  padding: 30px 0;
  // text-align: center;

  a{
    color: #fff;
    text-decoration: none;
    display: block;
  }
  .map-link {
    color: #fff;
    font-size: 12px;
    display: block;
    text-align: center;
    img {
      padding-bottom: 10px;
    }
    &:hover {
      text-decoration: underline;
    }
  }
  .address-title {
    font-size: 1.3rem;
    margin-bottom: 5px;
    font-weight: 700;
  }

  .line {
    padding-bottom: 3px;
    @media (max-width: 767px) {
      font-size: 14px;
    }
  }
}