.productTile {
  .custom-dropdown select {
    width: 130px;
    height: 42px;
    font-size: 16px;
    padding: 0.5em;
    padding-right: 2.5em;
  }
  // display: flex;
  // flex-direction: column;
  // justify-content: space-between;
  border-top: 6px solid #f28c14;
  // width: 100%;
  box-shadow: 0px 40px 20px -40px rgb(133, 133, 133);
  background: #ffffff;
  padding: 20px;
  margin: 0 20px;
  a {
    text-decoration: none;
  }
  .productImage {
    img {
      transform: scale(0.8);
      transition: all 0.5s ease;
      flex: 1;
      &:hover {
        transform: scale(1);
      }
    }
  }
  .productInfo {
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    .button {
      height: 42px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 250px;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      margin-top: 10px;
    }
  }
  .title {
    display: block;
  }

  .cost {
    display: block;
    font-size: 1.6rem;
    &::before {
      font-family: Arial, Helvetica, sans-serif;
      content: "₹";
      display: inline-block;
      padding-right: 5px;
    }
  }
}

/* Custom dropdown */
.custom-dropdown {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 20px 0 10px; /* demo only */
}

.custom-dropdown select {
  background-color: transparent;
  border: 2px #f28c14 solid;
  color: #fff;
  color: #000;
  margin: 0;
  border-radius: 3px;
  text-indent: 0.01px;
  text-overflow: "";
  -webkit-appearance: button; /* hide default arrow in chrome OSX */
  background: #ccc;
  border-color: #ccc;
  &:focus {
    outline: none;
  }
}

.custom-dropdown::before,
.custom-dropdown::after {
  content: "";
  position: absolute;
  pointer-events: none;
}

.custom-dropdown::after {
  /*  Custom dropdown arrow */
  content: "\25BC";
  height: 1em;
  font-size: 0.625em;
  line-height: 1;
  right: 1.2em;
  top: 50%;
  margin-top: -0.5em;
}

.custom-dropdown::before {
  /*  Custom dropdown arrow cover */
  width: 2em;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 0 3px 3px 0;
}
